.under-review-title.text-muted
  %i.fas.fa-hourglass-end
  %strong= t '.under_review'
.panel.panel-default.under-review-height
  .panel-body
    .under-review-body
      - pending_reviews.each do |review|
        .under-review
          .pr-title
            = link_to reviewers_pull_review_path(review.pull, review) do
              %p= review.pull.title.truncate(21)
              .worked-time
                %i.fa.fa-clock
                %span= date_format(review.updated_at)
