.container
  .row
    .page-header
      %h3 コードのチェックリスト
    %h4 タイポ
    %ul
      %li インデントがずれていないか(スペース2つ)
      %li ファイル名や変数名などの誤字
    %h4 セキュリティ
    %ul
      %li
        %code input type='hidden'
        によるセッションハイジャック
      %li パスワードやシークレットキーの管理方法
    %h4 リファクタリング
    %ul
      %li 関数化することによって単体テストをしやすくする。
    %h4 高速化
    %ul
      %li クエリの発行数の削減
    %h4 バグ
    %ul
      %li nil対策
    %h4 ライブラリ・ツール情報の提供