.container.profile
  .row
    %h3= t 'activerecord.attributes.reviewers/profile.company'
    %p= current_reviewer.profile.company
    %h3= t 'activerecord.attributes.reviewers/profile.body'
    .md-wrapper= markdown(current_reviewer.profile.body)