.col-xs-12
  .contaniner
    .greet
      .text-center= image_tag 'welcome.png', class: 'welcome-image'
      %h1.text-center= "Hello!!   #{current_reviewer.github_account.nickname}"
      %p.text-center ただいま審査中です。少々お待ちください。

    .calendly
      .message.text-center
        %i.far.fa-calendar-alt
        %span 以下のリンク先より面談日時を決めてください。
        %p.text-center 日時をご入力いただきましたら運営よりご連絡いたします。しばらくお待ちください。
        .to-calendly= link_to 'calendly へ', 'https://calendly.com/', class: 'btn btn-primary'
