.welcome-index {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /*
    Head
  */
  .container-fluid.head {
    background-color: $color-white;
    color: $color-github-black;
    h1 {
      letter-spacing: 3px;
      margin-top: $base-margin * 12;
      margin-bottom: $base-margin * 12;
      font-weight: bold;
      vertical-align: middle;
      font-size: 5rem;
      .one {
        font-size: 1.7em;
      }
    }
    .right-block {
      letter-spacing: 1px;
      .sub-title {
        margin-bottom: $base-margin;
      }
      .description {
        color: $color-switch-off-gray;
        line-height: 30px;
        font-size: $base-font-size * 1.3;
      }
      .signup {
        margin-top: $base-margin * 2;
      }
    }
    @media (max-width: $screen-xs-max) {
      .landing-wrapper {
        h1 {
          margin-top: $base-margin * 3;
          font-size: $base-font-size * 4;
          font-weight: $base-font-weight * 4;
        }
        .sub-line {
          font-size: $base-font-size * 1.1;
          margin-bottom: $base-margin;
        }
      }
    }
  }
  /*
    Reviewers
  */
  .container-fluid.reviewers {
    margin-top: $base-margin * 6;
    border-top: 2px solid $color-grey;
    color: $color-github-black;
    h1 {
      letter-spacing: 3px;
      margin-top: $base-margin * 6;
      margin-bottom: $base-margin * 6;
      font-weight: bold;
      vertical-align: middle;
      font-size: 3rem;
    }
    .right-block {
      letter-spacing: 1px;
      .sub-title {
        margin-bottom: $base-margin;
      }
      .description {
        color: $color-switch-off-gray;
        line-height: 30px;
        font-size: $base-font-size * 1.3;
      }
      .signup {
        margin-top: $base-margin * 2;
      }
    }
    .current-reviewers {
      color: $color-switch-off-gray;
      letter-spacing: 3px;
    }
    .reviewer-counts {
      font-size: 6rem;
      font-weight: bold;
      letter-spacing: 3px;
    }
    @media (max-width: $screen-xs-max) {
      .demo-wrapper {
        h1 {
          margin-top: $base-margin * 3;
          font-size: $base-font-size * 4;
          font-weight: $base-font-weight * 4;
        }
        .sub-line {
          font-size: $base-font-size * 1.1;
          margin-bottom: $base-margin;
        }
      }
    }
  }
  /*
      Intro
  */
  .container-fluid.introduction {
    border-top: 2px solid $color-grey;
    margin-top: $base-margin * 6;
    padding: 0;
    margin-bottom: $base-margin * 6;
    color: $color-white;
    .container {
      h1 {
        margin-top: $base-margin * 4;
        font-size: $base-font-size * 4;
        font-weight: $base-font-weight * 4;
      }
      .signup {
        margin-top: $base-margin * 6;
      }
    }
    @media (max-width: $screen-xs-max) {
      .container {
        .start-wrapper {
          h1 {
            margin-top: $base-margin * 3;
          }
          .start-line {
            font-size: $base-font-size;
            margin-bottom: $base-margin * 2;
          }
        }
      }
    }
  }
  .top-wrapper {
    .alert {
      margin-top: $base-margin;
    }
  }
}