.container
  .col-xs-12
    .page-header{ 'repo-id': @repo.id }
      %h3= @repo.full_name
    = render 'reviewers/shared/repos/tab', repo: @repo
    %input{ type: 'text', class: 'form-control search-input', placeholder: 'キーワード' }
    .contents-wrapper
      .text-center.hidden= image_tag 'loader'
      .code-wrapper.hidden
        .breadcrumbs{ 'repo-name': @repo.name }
        .panel.panel-default
          .panel-heading
            .panel-title
          %table.table
= javascript_pack_tag 'search'