.reviewers-commits-index {
  .commits {
    .title {
      margin-top: $base-margin * 3;
    }
    .tab {
      margin-top: $base-margin;
    }
    .list {
      margin-top: $base-margin;
    }
  }
}
