.reviewers-shared-repos-tab-wrapper
  %ul.nav.nav-tabs.nav-justified
    // Repository
    %li{ class: is_same_controller_name?('repos') }
      = link_to [:reviewers, repo], class: 'nav-link' do
        %i.fas.fa-code
        &nbsp;
        %b= t 'reviewers.repos.show.tab_title'
    // Issues
    %li{ class: is_same_controller_name?('contents') }
      = link_to reviewers_repo_contents_path(repo), class: 'nav-link' do
        %i.fas.fa-search
        &nbsp;
        %b= t 'reviewers.contents.index.tab_title'