.reviewers-pending {
  // メールアドレス送信フォーム
  .form.send_mail {
    text-align: -webkit-center;
  }
  .send_mail form {
    height: $base-margin * 2;
    width: $base-margin * 15;
    position:relative;
  }
  .send_mail form input[type=email] {
    width: 340px;
    height: $base-margin * 2;
    padding: $base-margin;
    border:none;
    -webkit-border-radius: $base-margin * 2;
       -moz-border-radius: $base-margin * 2;
            border-radius: $base-margin * 2;
    -webkit-appearance: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    background: $color-background-gray;
    top: 0;
    right: -35px;
    backface-visibility: hidden;
    -webkit-transition: 0.25s ease-out;
       -moz-transition: 0.25s ease-out;
         -o-transition: 0.25s ease-out;
            transition: 0.25s ease-out;
    @media (max-width: $screen-xs-max) {
      right: -55px;
    }
  }
  .send_mail form input[type=email]:focus {
    background: $bg-color-pre-code;
  }
  .send_mail form .btn {
    width: $base-height-lg;
    height: $base-margin * 2;
    color: $color-white;
    border:none;
    -webkit-border-radius: $base-margin * 2;
       -moz-border-radius: $base-margin * 2;
            border-radius: $base-margin * 2;
    background:#1B73BA;
    display:inline-block;
    -webkit-appearance: none;
    outline: 0;
    position:absolute;
    left: $base-height-lg * 2;
    cursor:pointer;
    backface-visibility: hidden;
    -webkit-transition: 0.3s ease-out;
       -moz-transition: 0.3s ease-out;
         -o-transition: 0.3s ease-out;
            transition: 0.3s ease-out;
    @media (max-width: $screen-xs-max) {
      left: 195px;
    }
  }
  .send_mail form .btn:hover {
    opacity:0.8;
  }
  .greet {
    color: $color-switch-off-gray;
    margin-top: 70px;
    table {
      margin-top: $base-margin * 4;
      .ok {
        color: $color-line;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
    }
  }
  .send_mail {
    margin-top: 70px;
    .message {
      padding: $base-font-size - 2;
      font-weight: bold;
      @media (max-width: $screen-xs-max) {
        padding: 0;
      }
    }
  }
  .welcome-image {
    height: $base-height-lg * 2;
    width: $base-height-lg * 2;
  }
  .calendly {
    padding: $base-margin * 5;
    font-weight: bold;
    font-size: $base-margin - 1;
    .to-calendly  {
      padding: 30px;
    }
    .calendly-color {
      background-color: $color-calendly;
    }
    @media (max-width: $screen-xs-max) {
      padding: $base-font-size * 5 $base-margin $base-margin $base-margin;
    }
  }
  .supplement {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}
