.reviewers-reviewers-pending {
  .greet {
    color: $color-switch-off-gray;
    margin-top: 70px;
    table {
      margin-top: $base-margin * 4;
      .ok {
        color: $color-line;
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-top: 0;
    }
  }
  .welcome-image {
    height: $base-height-lg * 2;
    width: $base-height-lg * 2;
  }
  .calendly {
    padding: $base-margin * 5;
    font-weight: bold;
    font-size: $base-margin - 1;
    .to-calendly  {
      padding: 30px;
    }
  }
  .supplement {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
  }
}
