.container
  %h3.text-center= @repo.full_name
  - if @pulls.present?
    %table.table
      %thead
        %tr
          %th 番号
          %th{ scope: 'col' } レポジトリ名
          %th スキル
          %th レビュー
      = render @pulls
  - else
    プルリクエストはありません
= javascript_pack_tag 'pull'