.container.main
  %h3.text-left.repo-title= @repo.full_name
  %p.text-danger= @repo.private_message
  - if @pulls.present?
    %table.table
      %thead
        %tr
          %th 番号
          %th{ scope: 'col' } レポジトリ名
          %th スキル
          %th レビュー
      = render @pulls, tags: @tags
  - else
    プルリクエストはありません
= javascript_pack_tag 'pull'