.reviewers-contents-index {
  margin-top: $base-margin * 3;
  p {
    margin-top: 10px;
    &.filename {
      padding: $base-padding;
      font-weight: bold;
    }
  }
  .result-panel-link {
    text-decoration: none;
  }
  .panel {
    cursor: pointer;
    &.result {
      &:hover {
        background-color: $color-sub-gray;
      }
    }
    tbody {
      tr {
        td {
          &.border {
            background-color: $color-sub-blue;
            font-size: $base-font-size / 2;
            color: $color-darker-gray;
            font-weight: 100;
            text-align: right;
          }
          span.text {
            background-color: $color-github-yellow;
          }
          &.file-name {
            a {
              text-decoration: none;
              i {
                color: $color-hover-gray;
                padding-right: $base-padding;
              }
            }
          }
        }
      }
    }
  }
}