# Redis
REDIS_URL="redis://cache:6379/0"

RAILS_LOG_TO_STDOUT=true


# GITHUB APP
GITHUB_APP_PAYLOAD_ISS_ID=""
PATH_TO_PEM_FILE=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_APP_URL=""

# domain constraints
WEB_DOMAIN=""
ADMIN_DOMAIN=""

# SLACK
SLACK_WEBHOOK_URL=""

# AWS
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""
AWS_REGION="