.reviewers-reviews-show {
  span {
    &.reviewing {
      font-size: $base-font-size;
      color: $color-cancel;
      padding-left: $base-padding;
      letter-spacing: $base-padding;
    }
  }
  .panel {
    .panel-body {
      &.gray-space {
        background-color: $color-sub-gray;
        padding: $base-padding * 3;
      }
    }
  }
}