.reviewees-repos-settings {
  .aside-left-nav {
    width: 70px;
    background: #555;
    display: inline-block;
    float: left;
    height: 100vh;
    text-align: center;
    a.aside-item {
      font-size: $base-font-size * 1.5;
      color: $color-white;
      width: 70px;
      height: 70px;
      display: block;
      margin: auto;
      padding: $base-padding * 3;
      &.current {
        color: #555;
        background-color: $color-white;
        border-right: 1px solid $color-sub-blue;
      }
      .title {
        font-size: $base-font-size;
      }
    }
  }
  .app-main {
    display: inline-block;
    width : calc(100% - 70px);
    float: right;
    .main-header {
      -webkit-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      height: 71px;
      line-height: 70px;
      border-bottom: 1px solid $color-sub-blue;
      .title {
        margin-left: $base-padding * 5;
        font-size: $base-font-size * 1.5;
        letter-spacing: 1px;
      }
    }
    .app-domainant {
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      overflow: hidden;
      padding: $base-padding * 5;
      table {
        .add-light-blue {
          background-color: $color-light-blue;
        }
        .add-success-color {
          color: $base-color-green;
          font-weight: bold;
        }
        .add-merged-color {
          color: $color-darker-gray;
          font-weight: lighter;
        }
        .pull-list {
          a {
            display: block;
            height: $base-height + 10;
            padding: $base-margin + 4 0;
          }
          td {
            padding: 0 0 0 20px;
            height: $base-height + 30;
          }
        }
        &.table thead tr th {
          text-align: left;
        }
        .pull-list-header {
          color: $color-literal-gray;
          th {
            font-weight: lighter;
            padding-left: $base-margin + 4;
          }
        }
      }
      .description {
        margin-top: $base-margin * 3;
        letter-spacing: 1px;
      }
      .title, .add {
        letter-spacing: 1px;
      }
      img {
        padding: $base-padding * 5;
      }
      .onoffswitch {
        position: relative;
        width: 80px;
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select: none;
      }
      .onoffswitch-checkbox {
        display: none;
      }
      .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: $base-letter solid $color-switch-off-gray;
        border-radius: $base-margin + 4;
      }
      .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.2s ease-in 0s;
      }
      .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: $base-height - 20;
        padding: 0;
        line-height: $base-height - 20;
        font-size: $base-font-size;
        color: $bg-color-github-panel;
        font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
      }
      .onoffswitch-inner:before {
        content: "ON";
        padding-left: $base-font-size - 2;
        background-color: $color-switch-on;
        color: $bg-color-github-panel;
      }
      .onoffswitch-inner:after {
        content: "OFF";
        padding-right: $base-font-size - 2;
        background-color: $color-switch-off-gray;
        color: $bg-color-github-panel;
        text-align: right;
      }
      .onoffswitch-switch {
        display: block;
        width: $base-height - 13;
        margin: -1.5px;
        background: $bg-color-github-panel;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 45px;
        border: $base-letter solid $color-switch-off-gray;
        border-radius: $base-margin + 4;
        transition: all 0.2s ease-in 0s;
      }
      .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
      }
      .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0;
      }
    }
  }
}
