.users-dashboard {
  .main {
    margin-top: $base-margin * 5;
    .side {
      .review {
        font-size: 0.7rem;
        color: $color-brand;
      }
      #reviewModal, #integrationModal {
        .intro {
          background-color: $color-brand;
          color: $color-white;
          hr {
            border-top: 1px solid $color-white;
          }
        }
        .space {
          margin-top:$base-margin * 2;
        }
        .title {
          margin-top: $base-margin;
        }
        .description {
          letter-spacing: 2px;
          font-size: 0.9rem;
          padding: $base-padding;
        }
        a {
          color: $color-brand;
        }
      }
      hr {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
      }
      svg {
        color: $color-silver-gray;
        cursor: pointer;
      }
      #addTag {
        margin-top: 0.2rem;
        padding: 0.2rem;
        font-size: 0.8rem;
      }
      #tagErrorMessage {
        color: $color-silver-gray;
        font-size: 0.8rem;
      }
    }
  }
}