.users-dashboard {
  .main {
    margin-top: $base-margin * 5;
    .pull {
      border: 3px solid rgba(0, 0, 0, 0.125);
      border-radius: 0px;
      border-top: none;
      border-right: none;
      border-bottom: none;
      margin-bottom: $base-margin * 2;
      &:hover {
        cursor: pointer;
        background-color: #EEEEEE;
      }
      .title {
        a {
          color: $color-brand
        }
      }
      .user {
        .avatar {
          display: inline-block;
          vertical-align: top;
          padding-right: $base-padding * 2;
        }
        .info {
          display: inline-block;
          .created_at {
            color: $color-gray;
            font-size: 0.9rem;
          }
          .name {

          }
        }
      }
      .tags {
        margin-top: $base-margin;
      }
      .body {
        color: $color-gray;
        margin-top: $base-margin;
        font-size: 0.9rem;
      }
      .reviewers {
        .title {
          margin-top: $base-margin;
          margin-bottom: $base-margin / 2;
          color: $color-gray;
          font-size: 0.7rem;
        }
        .reviewer {
          display: inline-block;
          vertical-align: top;
        }
      }
      .repo {
        margin-top: $base-margin * 3;
        .label {
          margin-top: $base-margin / 2;
          margin-bottom: $base-margin / 2;
          color: $color-gray;
          font-size: 0.7rem;
        }
        a {
          color: $color-brand;
        }
      }
    }
    .side {
      .review {
        font-size: 0.7rem;
        color: $color-brand;
      }
      #reviewModal, #integrationModal {
        .space {
          margin-top:$base-margin * 2;
        }
        .title {
          margin-top: $base-margin;
        }
        .description {
          letter-spacing: 2px;
          font-size: 0.9rem;
          padding: $base-padding;
        }
        a {
          color: $color-brand;
        }
      }
      hr {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
      }
      svg {
        color: $color-silver-gray;
        cursor: pointer;
      }
      #addTag {
        margin-top: 0.2rem;
        padding: 0.2rem;
        font-size: 0.8rem;
      }
      #tagErrorMessage {
        color: $color-silver-gray;
        font-size: 0.8rem;
      }
    }
  }
}