.repos-show {
  .main {
    margin-top: $base-margin * 5;
    .repo-title {
      margin-bottom: $base-margin * 3;
    }
    .pulls {
      font-size: 0.9rem;
      .pull {
        .number {
          color: $color-gray;
        }
        .title {
          a {
            color: $color-brand;
          }
        }
        .reviewer {
          .nickname {
            a {
              color: $color-brand;
            }
          }
          .bio {
            color: $color-gray;
            font-size: 0.9rem;
          }
          .score {
            font-weight: bold;
            color: $color-gray;
          }
        }
      }
    }
  }
}