.container
  %h3.text-center ダッシュボード
  - if current_user.has_repos?
    %table.table
      %thead
        %tr
          %th #
          %th{ scope: 'col' } レポジトリ名
      - @repos.each do |repo|
        %tbody
          %tr
            %th{ scope: 'row' }= repo.id
            %td= link_to repo.name, repo
    = link_to 'リポジトリを追加', ENV['GITHUB_APP_URL'], target: '_blank'
  - else
    = link_to 'リポジトリを追加', ENV['GITHUB_APP_URL'], target: '_blank'