.container
  %h3.text-center.target あなたのコードにコメントが届きます
  .text-center
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      = link_to user_github_omniauth_authorize_path, class: 'btn btn-primary' do
        GitHubログイン