.container
  .row
    .service-of-terms
      .title
        %h3.text-center
          プライバシーポリシー
        .content
          Resource株式会社（以下「当社」といいます。）は、ご利用者さまをはじめとする関係者の皆さまのプライバシーに関連する情報の保護に最大限の注意を払っています。プライバシーに関連する情報に関する当社の考え方は、以下の通りです。

      .article
        %h4.border-bottom
          適用範囲
        .content
          以下に定めるプライバシーポリシー（以下「本ポリシー」といいます。）は、Mergee利用規約の一部であり、利用者の皆さまが当社のサービスをご利用されるときに適用されるものです。従って、本ポリシーで用いている用語の定義も、Mergee利用規約に用いている用語と同様の意味を有します。
      .article
        %h4.border-bottom
          第1条（収集する利用者情報及び収集方法）
        .content
          本ポリシーにおいて、「利用者情報」とは、個人情報（個人情報の保護に関する法律に定義されている「個人情報」をいいます。以下同じ。）のほか、利用者個人を間接的に識別できる情報、通信サービス上の行動履歴（ウェブページの閲覧履歴や検索履歴も含みます。）、その他利用者のスマートフォン、PC等の端末において利用者又は利用者の端末に関連して生成又は蓄積された情報であって、本ポリシーに基づき当社が収集するものを意味するものとします。
          %p 本サービスにおいて当社が収集する利用者情報は、その収集方法に応じて、以下のようなものとなります。
          %ol
            %li 利用者からご提供いただく情報
            利用者が本サービスを利用するために、ご提供いただく情報は以下のとおりです。
            %ul
              %li メールアドレス
              %li その他当社が定める入力フォームに利用者が入力する情報
            %li 利用者が本サービスの利用において、他のサービスと連携を許可することにより、当該他のサービスからご提供いただく情報
            利用者が、本サービスを利用するにあたり、ソーシャルネットワークサービス等の外部サービスとの連携を許可した場合には、その許可の際にご同意いただいた内容に基づき、以下の情報を当該外部サービスから収集します。
            %ul
              %li 当該外部サービスで利用者が利用するID
              %li その他当該外部サービスのプライバシー設定により利用者が連携先に開示を認めた情報
            %li 利用者が本サービスを利用するにあたって、当社が収集する情報
            当社は、本サービスへのアクセス状況やそのご利用方法に関する情報を収集することがあります。これには以下の情報が含まれます。
            %ul
              %li 端末情報
              %li ログ情報
              %li Cookie及び匿名ID
      .article
        %h4.border-bottom
          第2条（利用目的）
        .content
          %ol
            %li 当社は、利用者情報を、第2項に定めるとおり本サービスの提供のために利用するほか、第3項に定めるとおり、その他の目的にも利用する場合があります。
            %li 本サービスのサービス提供に関わる利用者情報の具体的な利用目的は、以下のとおりです。
            %ul
              %li 本サービスに関する登録の受付、利用料金の計算等本サービスの提供、維持、保護及び改善
              %li 本サービスからの退会・解約等の手続きやその後の事後管理を行うため
              %li 本サービスに関するご案内、お問い合せ等への対応のため
              %li 本サービスに関するアンケート、キャンペーン等の依頼、連絡、プレゼント発送等を行うため
              %li 本サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
              %li 本サービスに関する規約等の変更などを通知するため
              %li 本サービスの利用状況等を調査、分析するため
              %li 上記の利用目的に付随する利用目的のため
            %li 第2項に定める以外の利用目的は、以下のとおりです。
            %ul
              %li 当社のサービスに関連して、個人を識別できない形式に加工した統計データを作成するため
              これには以下の情報が含まれます。
              %ul
                %li 端末情報
                %li ログ情報
                %li Cookie及び匿名ID
                %li その他マーケティングに利用するため
                これには以下の情報が含まれます。
                %ul
                  %li 氏名
                  %li メールアドレス
                  %li 生年月日
                  %li その他当社が定める入力フォームに利用者が入力する情報
            %li 当社は、個人情報を、その収集時点における本ポリシーに記載されている利用目的の範囲を超えて利用することはありません。もし、当初の利用目的の範囲を超えて個人情報を利用することになる際には、事前に皆さま同意を得たうえで行います。
      .article
        %h4.border-bottom
          第3条（通知・公表又は同意取得の方法、利用中止要請の方法）
        .content
          %ol
            %li 以下の利用者情報については、その収集が行われる前に利用者の同意を得るものとします。
            %ul
              %li 端末情報
              %li 位置情報
            %li 利用者は、本サービスの所定の設定を行うことにより、利用者情報の全部又は一部についてその利用の停止を求めることができ、この場合、当社は速やかに、当社の定めるところに従い、その利用を停止します。ただし、利用者情報の項目によっては、その収集又は利用が本サービスの前提となるため、当社所定の方法により本サービスを退会した場合に限り、当社はその収集を停止します。
      .article
        %h4.border-bottom
          第4条（利用者情報の管理）
        .content
          当社は、セキュリティ、プライバシー、個人情報等の保護に関する社内教育等を定期的に実施し、従業員の意識の向上、啓発に努めています。また、当社は、収集した利用者情報保護のためにあらゆる予防措置を講じ、オンライン・オフラインの両方において保護されます。さらに、ファイヤウォール、不正侵入検知、SSLなどの技術を用いて利用者情報の取り扱いには細心の注意を図ると共に、業務上必要とされる権限を与えられた者のみがアクセス可能としています。
      .article
        %h4.border-bottom
          第5条（第三者提供）
        .content
          当社は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者の同意を得ないで、第三者に提供しません。ただし、次に掲げる場合はこの限りではありません。
          %ol
            %li 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合
            %li 合併その他の事由による事業の承継に伴って個人情報が提供される場合
            %li 国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、利用者の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがある場合
            %li その他、個人情報保護法その他の法令で認められる場合
      .article
        %h4.border-bottom
          第6条（個人情報の開示）
        .content
          当社は、利用者から、個人情報保護法の定めに基づき個人情報の開示を求められた場合は、利用者ご本人からのご請求であることを確認の上で、利用者に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。ただし、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。
      .article
        %h4.border-bottom
          第7条（個人情報の訂正及び利用停止等）
        .content
          %ol
            %li 当社は、利用者から、(1)個人情報が真実でないという理由によって個人情報保護法の定めに基づきその内容の訂正を求められた場合、及び(2)あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により収集されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止を求められた場合には、利用者ご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正又は利用停止を行い、その旨を利用者に通知します。なお、合理的な理由に基づいて訂正又は利用停止を行わない旨の決定をしたときは、利用者に対しその旨を通知いたします。
            %li 当社は、利用者から、利用者の個人情報について消去を求められた場合、当社が当該請求に応じる必要があると判断した場合は、利用者ご本人からのご請求であることを確認の上で、個人情報の消去を行い、その旨を利用者に通知します。
            %li 個人情報保護法その他の法令により、当社が訂正等又は利用停止等の義務を負わない場合は、前2項の規定は適用されません。
      .article
        %h4.border-bottom
          第8条（Googleアナリティクス、Cookieについて）
        .content
          %p 当社のウェブサイトでは、サイトの分析と改善のためにGoogleアナリティクスを使用しています。その際、データ収集のためにGoogleがお使いのブラウザにCookieを設定したり、既存のCookieを読み取ったりする場合があります。また、本サービスをご利用中のウェブブラウザは、Googleに特定の非個人情報（例えば、アクセスしたページのウェブアドレスやIPアドレスなど）を自動的に送信します。当社のウェブサイトは、それらの情報を、サイト利用状況の把握やサイト利用体験の改善、利用者の傾向をコンテンツとして紹介するといった用途で利用する可能性があります。
          %br
          %br
          %p 利用者は本サイトを利用することで、上記方法および目的においてGoogleとサイト管理者が行うこうしたデータ処理に対して、許可を与えたものとみなします。
          %br
          %br
          %p Google社によるアクセス情報の収集方法および利用方法については、Google Analyticsサービス利用規約およびGoogle社プライバシーポリシーによって定められています。
      .article
        %h4.border-bottom
          第9条（お問い合わせ窓口）
        .content
          %p ご意見、ご質問、苦情のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願い致します。
          %br
          %br
          %p 東京都渋谷区恵比寿 1-18-5 アルカサル B01
          %br
          %br
          %p Resource株式会社
          %br
          %br
          %p E-mail：support@mergee.com
      .article
        %h4.border-bottom
          第10条（プライバシーポリシーの変更手続）
        .content
          当社は、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更することがあります。変更した場合には、当社の指定するウェブサイトに記載する方法で利用者に通知いたします。ただし、法令上利用者の同意が必要となるような内容の変更の場合は、当社所定の方法で利用者の同意を得るものとします。
      【2018年12月29日制定】



