.container
  .col-xs-12.col-md-8.col-md-offset-2
    .service-of-terms
      .title
        %h1.border-bottom
          利用規約
        .content
          %span この利用規約（以下，「本規約」といいます。）は， PushRequest（以下，「当組織」といいま
          %span す。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用
          %span 条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規
          %span 約に従って，本サービスをご利用いただきます。

      .article-one
        %h2.border-bottom
          第1条 (適用)
        .content
          本規約は，ユーザーと当組織との間の本サービスの利用に関わる一切の関係に適用されるものとします。

      .article-second
        %h2.border-bottom
          第2条 (利用料金および支払方法)
        .content
          %p 原則2018年07月05日（木）時点では無料でサービスを公開していますが、有料となる機能を追加する場合があります。

      .article-third
        %h2.border-bottom
          第3条（禁止事項）
        .content
          %p ユーザーは， 本サービスの利用にあたり，以下の行為をしてはなりません。
          .bullet
            %p （1）法令または公序良俗に違反する行為
            %p （2）犯罪行為に関連する行為
            %p （3）当組織のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為
            %p （4）当組織のサービスの運営を妨害するおそれのある行為
            %p （5）他のユーザーに関する個人情報等を収集または蓄積する行為
            %p （6）他のユーザーに成りすます行為
            %p （7）当組織のサービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為
            %p （8）その他，当組織が不適切と判断する行為

      .article-fourth
        %h2.border-bottom
          第4条（本サービスの提供の停止等）
        .content
          %span 当組織は，以下のいずれかの事由があると判断した場合，ユーザーに事前に通知することなく本サー
          %span ビスの全部または一部の提供を停止または中断することができるものとします。
          %span 当組織は，本サービスの提供の停止または中断により，ユーザーまたは第三者が被ったいかなる不利
          %span 益または損害について，理由を問わず一切の責任を負わないものとします。
          .bullet
            %p （1）本サービスにかかるコンピュータシステムの保守点検または更新を行う場合
            %p （2）地震，落雷，火災，停電または天災などの不可抗力により，本サービスの提供が困難となった場合
            %p （3）コンピュータまたは通信回線等が事故により停止した場合
            %p （4）その他，当組織が本サービスの提供が困難と判断した場合
            %p （5）このアプリケーションが当組織の権利が譲渡された場合

      .article-fifth
        %h2.border-bottom
          第5条（免責事項）
        .content
          %p 当組織の債務不履行責任は，当組織の故意または重過失によらない場合には免責されるものとします。
          %p 当組織は，本サービスに関して，ユーザーと他のユーザーまたは第三者との間において生じた取引，
          %p 連絡または紛争等について一切責任を負いません。

      .article-sixth
        %h2.border-bottom
          第6条（サービス内容の変更等）
        .content
          %span 当組織は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止することができる
          %span ものとし，これによってユーザーに生じた損害について一切の責任を負いません。

      .article-seventh
        %h2.border-bottom
          第7条（利用規約の変更）
        .content
          %span 当組織は，必要と判断した場合には，ユーザーに通知すること
          %span なくいつでも本規約を変更することができるものとします。

      .article-eighth
        %h2.border-bottom
          第8条（準拠法・裁判管轄）
        .content
          %span 本規約の解釈にあたっては，日本法を準拠法とします。 本サービスに関して紛争が生じた場合に
          %span は，当組織の本店所在地を管轄する裁判所を専属的合意管轄とします。
