%p Mergeeのご利用ありがとうございます。
%p メールアドレス確認のためご連絡いたしました。
%p このメールアドレスをMergeeに登録する場合は、 以下のリンクをクリックして続行してください。
%p= link_to 'メールアドレスを登録する', confirmation_url(@resource, confirmation_token: @token)
%br
%br
