.reviewers-repos-show {
  .search-form {
    margin-top: $base-margin * 2;
    margin-bottom: $base-margin * 2;
  }
  .breadcrumbs {
    padding-bottom: $base-padding * 4;
  }
  .panel {
    padding: 0;
    .panel-heading {
      padding: $base-padding * 2;
      font-weight: bold;
    }
    table {
      tbody {
        tr {
          td {
            padding-left: $base-padding * 2;
            a {
              text-decoration: none;
              i {
                color: $color-hover-gray;
                padding-right: $base-padding;
              }
            }
          }
        }
      }
    }
  }
}
