@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '_bootstrap-variables';
// Layouts
@import 'layouts/default';
// Components
@import 'components/switch';
@import 'components/tag';
// Views
@import 'views/users/dashboard';
@import 'views/repos/show';
@import 'views/welcome/index';


nav.navbar {
  background-color: $color-brand;
  a {
    color: $color-white;
  }
  .dropdown-menu {
    background-color: $color-brand;
  }
}

footer {
  margin-top: $base-margin * 5;

  width: 100%;
  bottom: 0;
  font-weight: lighter;
  font-size: 0.9rem;
  a {
    color: $color-brand;
    padding: $base-padding * 4;
  }
}