//
// カスタム変数の定義
// Bootstrap関連の変更は_bootstrap-variablesでoverrideすること
//

// colors
$color-primary: #F37E2E;
$color-danger: #FF0000;

$color-white: #FFFFFF;
$color-silver-gray: #C1C1C1;
$color-smoke-gray: #B9B9B9;
$color-gray: #A7A7A7;
$color-lava-gray: #888888;
$color-slate-gray: #686868;
$color-coral-black: #292929;
$color-sumi-black: #121212;
$color-space-black: #080808;
$color-black: #000000;

// service colors
$color-twitter: #78caef;
$color-facebook: #517abb;
$color-google: #dc4e42;
$color-line: #00c400;
$color-instagram: #bd3381;
$color-switch-off-gray: #999999;
$bg-color-github-panel: #f6f8fa;

$tag-color: rgba( 0, 204, 0, 0.5 );
$bg-color-pre-code: #f6f8fa;

// Brand colors
$color-brand: #28557a;

// layouts
$base-margin: 16px;
$base-padding: 2px;
$base-border-radius: 0.25rem;
$base-font-size: 13px;
$base-letter: 2px;
$base-height: 50px;
$base-font-weight: 300px;