.welcome-index {
  .main {
    letter-spacing: $base-padding;
    margin-top: 0;
    height: 600px;
    background-color: $color-brand;
    color: $color-white;
    margin-bottom: $base-margin * 5;
    .top {
      margin-top: $base-margin * 10;
      .title {
        font-size: 4rem;
      }
      .sub-title {
        color: $color-gray;
        margin-bottom: - $base-padding;
        font-size: 0.9rem;
      }
    }
    .description {
      margin-top: $base-margin * 3;
    }
    .repository {
      margin-top: $base-margin * 3;
      color: $color-gray;
      .title {
        display: inline-block;
      }
      .count  {
        display: inline-block;
      }
    }
    .login {
      .btn {
        margin-top: $base-margin *  15;
        background-color: $color-white;
        color: $color-brand;
      }
    }
  }
}