.reviewers-replies-index {
  .conversation-wrapper {
    font-family: $font-static;
    font-weight: $base-font-weight;
    padding-left: 0;
    margin-right: 75px;
    .review-wrapper {
      margin-bottom: $base-margin;
    }
    li {
      &.step {
        list-style: none;
      }
      img.step {
        margin-top: - ($base-margin + 10px);
        margin-left: -$base-margin + 10px;
        display: inline-block;
        border-radius: 50%;
      }
      .path {
        font-weight: bold;
        margin-top: - $base-margin * 2;
        display: inline-block;
        vertical-align: middle;
        padding-left: $base-padding * 2;
      }
      span.unread, span.read {
        font-weight: bold;
        display: inline-block;
        margin-top: - $base-margin * 2;
        vertical-align: middle;
        padding-left: $base-padding * 2;
      }
      span.unread {
        color: $color-cancel;
      }
      span.read {
        color: $review-btn;
      }
      .comment-line {
        border-left: solid 5px $bg-color-github-panel;
        padding-left: ($base-padding * 15) + 10px;
        margin-left: $base-margin * 1.5;
        padding-top: $base-padding * 6;
        padding-bottom: $base-padding * 6;
        margin-top: -1px;
        margin-bottom: -$base-margin;
        .panel.step {
          max-width: 100%;
          border-radius: 3px;
          box-shadow: 0 0 2px gray;
          margin-bottom: $base-margin * 2.5;
          &.unread {
            box-shadow: 0 0 4px $color-cancel;
          }
          .panel-body {
            max-width: 100%;
            border: 1px solid $color-sub-blue;
            cursor: pointer;
            &:hover {
              background-color: #fafafa;
            }
            .table-wrapper {
              overflow-x: scroll;
              table {
                border-collapse: collapse;
                width: 100%;
                max-width: 100%;
                padding: $base-padding / 2;
                td.file-code {
                  pre {
                    padding: $base-padding / 2;
                    color: none;
                    border: none;
                    margin: 0;
                    font-family: $font-code;
                    font-size: $base-font-size;
                  }
                  border: none;
                  &.markdown-highlight {
                    font-family: $font-code;
                    font-size: $base-font-size;
                    &.bg-primary {
                      background-color: $color-gihub-blue;
                    }
                    &.bg-success {
                      background-color: $color-github-green;
                    }
                    &.bg-danger {
                      background-color: $color-github-changed-file-minus-color;
                    }
                  }
                }
              }
            }
            .panel-text {
              font-size: $base-font-size + 2px;
              padding: $base-padding * 4;
              pre {
                border-radius: none;
                border: none;
                margin-top: $base-margin / 2;
                margin-bottom: $base-margin / 2;
                font-family: none;
                font-size: $base-font-size;
                background-color: $bg-color-pre-code;
              }
            }
          }
          .panel-footer {
            background-color: $color-white;
            border-bottom: solid 1px $bg-color-github-panel;
            .menu {
              border-radius: 50%;
              border: solid 1px #eee;
              width: 30px;
              height: 30px;
              cursor: pointer;
              display: inline-block;
              line-height: 25px;
              text-align: center;
              &:hover {
                background-color: #fafafa;
              }
              &.active {
                background-color: $color-dark-gray;
              }
              i {
                font-size: $base-font-size;
                color: $color-dark-gray;
                &.active {
                  color: $color-white;
                }
              }
            }
          }
          .replies-wrapper {
            .panel {
              border-bottom: none;
              border-left: none;
              border: none;
              border-radius: 0;
              margin-bottom: 0;
              .panel-body {
                padding: $base-padding * 3;
                border: none;
                .panel-text {
                  &.unread {
                    border: solid 1px $color-cancel;;
                  }
                  .image {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    img {
                      border: solid 1px #eee;
                    }
                  }
                  .nickname {
                    padding-left: $base-padding;
                    display: inline-block;
                    vertical-align: top;
                    font-weight: bold;
                  }
                  .date {
                    padding-left: $base-padding;
                    display: inline-block;
                    vertical-align: top;
                  }
                  .unread {
                    display: inline-block;
                    vertical-align: top;
                    background-color: $color-cancel;
                    margin-left: $base-padding;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    color: $color-white;
                    border-radius: $base-border-radius;
                    padding: 3px 10px;
                  }
                  .update-read {
                    color: $review-btn;
                    font-weight: bold;
                  }
                  .replies-line {
                    border-left: solid 5px $bg-color-github-panel;
                    padding-left: ($base-padding * 5) + 10px;
                    margin-left: $base-margin * 1.5;
                    padding-top: $base-padding * 2;
                    padding-bottom: $base-padding * 2;
                    margin-top: -$base-margin;
                    margin-bottom: - ($base-margin * 2);
                    &.last {
                      border: none;
                    }
                    .body {
                      max-width: 100%;
                      margin-bottom: $base-margin;
                      border-radius: 0;
                      border-color: #eee;
                    }
                  }
                }
              }
              .panel-footer {
                background-color: #eee;
                border: none;
                border-top: 1px solid #eee;
                .input {
                  textarea {
                    height: 150px;
                  }
                }
                .submit {
                  text-align: right;
                  margin-top: $base-margin / 2;
                }
              }
            }
          }
          .code-wrapper {
            .panel {
              padding: $base-padding;
              margin-bottom: 0;
              box-shadow: none;
              .index {
                width: 1%;
                min-width: 50px;
                padding-right: 10px;
                padding-left: 10px;
                font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
                font-size: 12px;
                line-height: 20px;
                color: rgba(27,31,35,0.3);
                text-align: right;
                white-space: nowrap;
                vertical-align: top;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
              td.file-code {
                pre {
                  padding: $base-padding / 2;
                  color: none;
                  background-color: transparent;
                  border: none;
                  margin: 0;
                  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
                  font-size: $base-font-size;
                  word-break: normal;
                }
                border: none;
                &.markdown-highlight {
                  font-family: $font-code;
                  font-size: $base-font-size;
                }
              }
            }
          }
        }
      }
    }
    .bottom-line {
      margin-top: $base-margin;
      border: solid 2px $bg-color-github-panel;
    }
  }

  .review-wrapper {
    word-wrap: break-word;
    .panel {
      margin-top: $base-margin;
      margin-bottom: $base-margin * 3;
      border: none;
      box-shadow: none;
      .panel-heading {
        background-color: $color-grey;
        font-size: $base-font-size;
        padding: $base-padding * 2;
        width: 100%;
        padding: $base-padding * 3;
      }
      .panel-body {
        padding: $base-padding * 5;
        &:hover {
          background-color: #fafafa;
        }
        &.gray-space {
          background-color: $color-sub-gray;
          padding: $base-padding * 3;
        }
      }
    }
  }
}