.btn-primary {
  box-shadow: 0 3px 3px rgba(61,10,0,.1);
  border-color: $color-blue;
  color: $color-white;
  background-color: $color-blue;
}

.btn.btn-danger {
  box-shadow: 0 3px 3px rgba(61,10,0,.1);
  border-color: $color-cancel;
  color: $color-white;
  background-color: $color-cancel;
}

.btn.btn-default {
  box-shadow: 0 3px 3px rgba(61,10,0,.1);
  color: #24292e !important;
}

.everywhere {
  position: relative;
  top: -70px;
  margin: 0 0 20px 0;
  &.btn {
    width: 180px;
    @media (max-width: $screen-xs-max) {
      width: 100px;
    }
  }
}
