%ul.nav.md-pills.pills-primary.flex-column
  %li.nav-item
    = link_to 'Dashboard', :root, class: 'nav-link'
  %li.nav-item
    = link_to 'Reviews', [:admins, :reviews], class: 'nav-link'
  %li.nav-item
    = link_to t('admins.repos.index.title'), [:admins, :repos], class: 'nav-link'
  %li.nav-item
    = link_to t('admins.pulls.index.title'), [:admins, :pulls], class: 'nav-link'