.pulls-on-dashboard-wrapper {
  .label {
    padding: $base-padding * 2;
    border-radius: $base-border-radius;
  }
}

.reviewee-dashboard-wrapper {
  table {
    .repo_list td {
    height: $base-height + 20;
    }
    &.table thead tr th {
     text-align: left;
    }
    .repo_list_header {
      color: $color-literal-gray;
    }
  }
}

.reviewer-dashboard-wrapper {
  margin-top: $base-margin * 2;
  font-family: $font-dashboard;
  font-weight: $base-font-weight;
  .page-header {
    font-family: $font-dashboard;
  }
  table {
    td {
      color: $color-td;
    }
  }
}
