.pulls-on-dashboard-wrapper {
  .label {
    padding: $base-padding * 2;
    border-radius: $base-border-radius;
  }
}

.reviewee-dashboard-wrapper {
  h2 {
    font-size: $base-margin + 9;
  }
  table {
    .add-light-blue {
      background-color: $color-light-blue;
    }
    .repo-list {
      a {
        display: block;
        height: $base-height + 10;
        padding: $base-margin + 4 $base-margin + 4;
      }
      td {
        padding: 0;
        height: $base-height + 20;
      }
    }
    &.table thead tr th {
      text-align: left;
    }
    .repo-list-header {
      color: $color-literal-gray;
      th {
        font-weight: lighter;
        padding-left: $base-margin + 4;
        &.status {
          padding-left: 0;
        }
      }
    }
  }
}
