.page-header {
  .label {
    border-radius: 3px;
  }
}
.review-comment-img {
  border-radius: $base-border-radius;
}
.pull-show-tab-wrapper {
  font-family: $font-static;
  ul {
    margin-bottom: $base-margin;
    li {
      border: $base-border;
    }
  }
}
.pulls-files-wrapper {
  .col-sm-10 {
    padding-left: 0;
    .panel.changed-file-wrapper {
      margin-top: $base-margin;
      margin-bottom: $base-margin;
      border: $base-border;
      box-shadow: none;
      max-width: 100%;
      .panel-heading {
        background-color: $color-grey;
        font-family: $font-code;
        font-size: $base-font-size;
        padding: $base-padding * 2;
        padding: $base-padding * 3;
        max-width: 100%;
        .panel-title {
          font-size: $base-font-size;
          .btn-sm {
            font-size: $base-font-size;
            margin-top: - $base-margin / 3;
            font-family: $font-static;
          }
        }
      }
      .panel-body {
        padding: 0;
        max-width: 100%;
        .table-wrapper {
          overflow-x: scroll;
          table {
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            padding: $base-padding / 2;
            td.file-code {
              pre {
                padding: $base-padding / 2;
                color: none;
                background-color: transparent;
                border: none;
                margin: 0;
                font-family: $font-code;
                font-size: $base-font-size;
              }
              border: none;
              &.markdown-highlight {
                font-family: $font-code;
                font-size: $base-font-size;
                &.bg-primary {
                  background-color: $color-gihub-blue;
                  pre {
                    color: $color-literal-gray;
                  }
                }
                &.bg-success {
                  background-color: $color-github-green;
                }
                &.bg-danger {
                  background-color: $color-github-changed-file-minus-color;
                }
              }
            }
          }
        }
        .panel-text {
          font-size: $base-font-size + 2px;
          padding: 0 $base-padding * 5;
        }
      }
    }
    .panel.review-comments {
      border-radius: $base-border-radius;
      margin: 0;
      border: $base-border;
      box-shadow: none;
      .panel-body {
        padding: $base-padding * 5;
        table {
          border-collapse: collapse;
          pre {
            border-radius: none;
            border: none;
            margin-top: $base-margin;
            margin-bottom: $base-margin;
            font-family: none;
            font-size: $base-font-size;
            background-color: $bg-color-pre-code;
          }
        }
      }
    }
  }
  .col-sm-2 {
    margin-top: $base-margin;
    padding-right: 0;
    padding-left: 5px;
    .side-wrapper {
      ul {
        li.list-group-item {
          padding: 0 0;
          border: none;
          strong {
            color: #586069;
            font-size: $base-font-size;
          }
          .pull-status {
            margin-top: $base-margin;
            .label {
              width: 100%;
              display: block;
              padding: 6px 12px;
              font-size: 12px;
              border: 1px solid $color-github-label-border-white;
              border-radius: $base-border-radius;
              font-weight: 400;
              &.label-default  {
                color: $color-white;
                background-color: #f86c6b !important;
              }
            }
          }
        }
      }
    }
  }
}
