.reviewer-registration-new-wrapper, .reviewer-session-new-wrapper {
  margin-top: $base-margin * 2;
}

.reviewers {
  .aside-left-nav {
    width: 70px;
    background: #555;
    display: inline-block;
    float: left;
    height: 100vh;
    text-align: center;
    a.aside-item {
      font-size: $base-font-size * 1.5;
      color: $color-white;
      width: 70px;
      height: 70px;
      display: block;
      margin: auto;
      padding: $base-padding * 3;
      text-decoration: none;
      &.current {
        color: #555;
        background-color: $color-white;
        border-right: 1px solid $color-sub-blue;
      }
      .title {
        font-size: $base-font-size;
      }
    }
  }
  .app-main {
    display: inline-block;
    width : calc(100% - 70px);
    float: right;
    .main-header {
      -webkit-box-flex: 0;
      box-flex: 0;
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      height: 71px;
      line-height: 70px;
      border-bottom: 1px solid $color-sub-blue;
      .title {
        margin-left: $base-padding * 5;
        font-size: $base-font-size * 1.5;
        letter-spacing: 1px;
      }
    }
    .app-domainant {
      display: -webkit-box;
      display: box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;
      overflow: hidden;
      padding: $base-padding * 5;
    }
  }
}