.reviewers-shared-pulls-tab-wrapper,
.reviewers-shared-repos-tab-wrapper,
.reviewee-repo-tab-wrapper {
  margin-bottom: $base-margin;
  li {
    a {
      color: $color-dark-gray;
    }
  }
}

.reviewer-registration-new-wrapper, .reviewer-session-new-wrapper {
  margin-top: $base-margin * 2;
  .col-xs-8.col-xs-offset-2 {
    .card {
      border: 1px solid $color-github-label-border-white;
      box-shadow: none;
      h4 {
        margin-top: $base-margin / 2;
        font-weight: bold;
      }
      .card-body {
      }
    }
  }
}
