.navbar-wrapper
  %nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid.naved
      .navbar-header
        %a.navbar-brand
          = link_to Settings.meta.site, Settings.top, class: 'navbar-brand'
