.reviewers-pulls-index {
  margin-top: $base-margin * 3;
  .pull-requests {
    margin-top: $base-margin * 3;
    table {
      thead {
        &.color {
          background-color: $color-sub-gray;
        }
        .active {
          font-weight: bold;
        }
        a {
          color: $color-black
        }
      }
      tbody {
        td {
          .pullrequest {
            padding: $base-padding;
            .title {
              a {
                color: $color-black
              }
            }
          }
        }
      }
    }
  }
}
