.reviewers-pulls-show {
  .pullrequest {
    .title {
      margin-top: $base-margin * 3;
    }
    .tab {
      margin-top: $base-margin;
    }
    .body {
      margin-top: $base-margin;
    }
  }
}
