- content_for(:no_footer_page, true)
.container
  .col-xs-12
    .page-header{ 'repo-id': @repo.id, 'repo-token': @repo.token }
      %h3= @repo.full_name
    = render 'reviewers/shared/repos/tab', repo: @repo
    .contents-wrapper
      .text-center.loader= image_tag 'loader'
      .code-wrapper.hidden
        .breadcrumbs{ 'repo-name': @repo.name }
        .panel.panel-default
          .panel-heading
            .panel-title
          %table.table
= javascript_pack_tag 'contents'